{
  "boleto": {
    "production": {
      "endpoint": "https://boletosimples.com.br/api/v1/",
      "token": "FFCC00",
      "ua": "App (seu@email.com)"
    },
    "test": {
      "endpoint": "https://sandbox.boletosimples.com.br/api/v1/",
      "token": "123ASD",
      "ua": "App (seu@email.com)"
    },
    "dev": {
      "endpoint": "https://sandbox.boletosimples.com.br/api/v1/",
      "token": "123ASD",
      "ua": "App (seu@email.com)"
    }
  }
}
